@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
}

@media (min-width: 1024px) {
  /* ----- BODY -----*/
  body {
    background-color: #daeedb;
    font-family: "Roboto", sans-serif;
  }
  /* -- TD, TH --*/
  td,
  th {
    text-align: center;
    border: 0.1rem solid #054903;
  }
  /* -- FORM --*/
  form {
    background-color: #d5e6d5;
    padding-left: 6rem;
    padding-right: 6rem;
    margin: 1rem;
  }
  /* -/- HEADER -/- */
  /* -- NAV -- */
  .header__nav {
    background-color: #85d485;
    color: #0e5f23;
  }
  .header__nav--banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 1.3rem;
    list-style: none;
  }
  .header__nav--banner li {
    display: inline-block;
  }
  .header__nav--banner a {
    font-weight: 600;
    text-transform: uppercase;
    padding: 1.3rem;
  }
  .header__nav--banner label {
    font-weight: 400;
    padding: 1.3rem;
  }
  .header__nav--banner input {
    font-weight: 100;
    color: #779073;
  }
  .header__nav--banner a:hover {
    background-color: #043f04;
    color: #daeedb;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1.3rem;
  }
  .header__nav--banner a,
  .header__nav--banner label,
  .header__nav--banner input {
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    color: darkgreen;
    margin: auto;
  }
  /* ----- MAIN ----- */
  .main__section1 {
    display: -ms-grid;
    display: grid;
    background-color: #daeedb;
    color: #043f04;
    padding: 1.3rem;
        grid-template-areas: "left left ." "left left right" "left left right";
    grid-row-gap: 1rem;
    grid-column-gap: 20px;
    height: 100vh;
    justify-items: start;
  }
  .main__section1--left {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: left;
  }
  .main__section1--right {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    grid-area: right;
    -ms-grid-column-align: stretch;
        justify-self: stretch;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
  .main__section1--title {
    font-size: 3rem;
    padding-bottom: 1rem;
  }
  .main__section1--h3 {
    text-align: center;
    font-size: 1.5rem;
  }
  .main__section1--text {
    width: 65%;
    font-size: 1rem;
    padding-bottom: 1rem;
  }
  .main__section1--imagen {
    width: 85%;
    border: 0.3rem solid #054903;
  }
  .main__section1--tableFlex {
    width: 100%;
    height: 50vh;
    border: 0.3rem solid #054903;
    padding: 1.3rem;
  }
  .main__section1--table {
    width: 100%;
    height: 50vh;
    border: 0.3rem solid #054903;
  }
  .main__section1--encabezadoFila {
    background-color: #d5e6d5;
    color: #195d11;
  }
  .main__section1--tipoFila1 {
    background-color: #26ac17;
    color: white;
  }
  .main__section1--tipoFila2 {
    background-color: #2d6409;
    color: white;
  }
  .main__section2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #043f04;
    color: #daeedb;
    padding: 1.3rem;
  }
  .main__section2 div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 1rem;
  }
  .main__section2 iframe {
    padding-top: 1rem;
  }
  .main__section2--h2 {
    font-size: 40px;
    font-weight: 400;
  }
  .main__section3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #daeedb;
    color: #043f04;
    padding: 1.3rem;
  }
  .main__section3--sectionLeft {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 1rem;
    width: 30%;
  }
  .main__section3--imagenRedonda1 {
    background-image: url("../img/organizadores.jpg");
    background-color: #4581b3;
    height: 20rem;
    width: 20rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    background-size: 100% auto;
  }
  .main__section3--h2 {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 10px;
  }
  .main__section3--contenido {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
  }
  .main__section3--sectionCenter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30%;
  }
  .main__section3--imagenRedonda2 {
    background-image: url("../img/padel news.jpg");
    background-color: #e7edf1;
    height: 20rem;
    width: 20rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    background-size: 100% auto;
  }
  .main__section3--sectionRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 1rem;
    width: 30%;
  }
  .main__section3--imagenRedonda3 {
    background-image: url("../img/alianzas.jpg");
    background-color: #204c70;
    height: 20rem;
    width: 20rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    background-size: 100% auto;
  }
  .main__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__form legend {
    color: darkred;
    font-weight: 700;
    text-align: center;
    padding: 1rem;
  }
  .main__form form {
    text-align: left;
  }
  .main__form label {
    font-size: 1rem;
    color: darkgreen;
  }
  .main__form--flexBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1.3rem;
  }
  .main__form--label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 1rem;
  }
  .main__form--labelColumn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 1rem;
  }
  .main__form--tipoTorneo {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
    color: #8f0a0a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .main__form--tipoTorneo input {
    padding-bottom: 1rem;
  }
  .main__form--textArea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 1rem;
  }
  .main__form--labelEspecial {
    text-align: center;
    padding: 1.2rem;
  }
  .main__form--BasesYCondiciones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    font-size: 1rem;
  }
  .main__form--buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 1rem;
  }
}

* {
  padding: 0px;
  margin: 0px;
}

@media (max-width: 1024px) {
  /* MOBILE */
  /* ----- BODY -----*/
  body {
    background-color: #daeedb;
    font-family: "Roboto", sans-serif;
  }
  /* ----- td, th -----*/
  td,
  th {
    text-align: center;
    border: 0.1rem solid #054903;
  }
  /* ----- FORM -----*/
  form {
    background-color: #d5e6d5;
    padding-left: 3rem;
    padding-right: 3rem;
    margin: 1rem;
  }
  /* -/- HEADER -/- */
  .header__nav {
    background-color: #85d485;
    color: #0e5f23;
  }
  .header__nav--banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 1rem;
    list-style: none;
  }
  .header__nav--banner li {
    display: inline-block;
  }
  .header__nav--banner a {
    font-weight: 600;
    text-transform: uppercase;
  }
  .header__nav--banner label {
    font-weight: 400;
  }
  .header__nav--banner input {
    font-weight: 100;
    color: #779073;
  }
  .header__nav--banner a,
  .header__nav--banner label,
  .header__nav--banner input {
    text-decoration: none;
    text-align: center;
    font-size: 0.7rem;
    color: darkgreen;
  }
  /* -/- MAIN -/- */
  .main__section1 {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "left" "right";
    grid-row-gap: 0.8rem;
    background-color: #daeedb;
    color: #043f04;
    padding: 1rem;
  }
  .main__section1--left {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: left;
    text-align: left;
  }
  .main__section1--right {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: right;
    text-align: left;
  }
  .main__section1--title {
    text-align: center;
    font-size: 1.8rem;
  }
  .main__section1--h3 {
    text-align: center;
    font-size: 1.5rem;
  }
  .main__section1--text {
    padding-bottom: 0.5rem;
    text-align: justify;
  }
  .main__section1--imagen {
    width: 100%;
    border: 0.2rem solid #054903;
  }
  .main__section1--table {
    width: 100%;
    border: 0.2rem solid #054903;
  }
  .main__section1--tableFlex {
    width: 100%;
    height: 50vh;
    border: 0.2rem solid #054903;
    padding: 0.5rem;
  }
  .main__section1--encabezadoFila {
    background-color: #d5e6d5;
    color: #195d11;
  }
  .main__section1--tipoFila1 {
    background-color: #26ac17;
    color: white;
  }
  .main__section1--tipoFila2 {
    background-color: #2d6409;
    color: white;
  }
  .main__section2 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #043f04;
    color: #daeedb;
    padding: 1rem;
  }
  .main__section2 div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0.5rem;
  }
  .main__section2 iframe {
    padding-top: 0.5rem;
  }
  .main__section2 h2 {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 400;
  }
  .main__section3 {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "left" "center" "right";
    grid-row-gap: 0.8rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #daeedb;
    color: #043f04;
    padding: 1rem;
  }
  .main__section3--sectionLeft {
    padding-top: 0.5rem;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: left;
  }
  .main__section3--imagenRedonda1 {
    background-image: url("../img/organizadores.jpg");
    background-color: #4581b3;
    height: 15rem;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .main__section3--h2 {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 400;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .main__section3--contenido {
    font-size: 1.1rem;
    text-align: justify;
  }
  .main__section3--sectionCenter {
    padding-top: 0.5rem;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: center;
  }
  .main__section3--imagenRedonda2 {
    background-image: url("../img/padel news.jpg");
    background-color: #e7edf1;
    height: 15rem;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .main__section3--sectionRight {
    padding-top: 0.5rem;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: right;
  }
  .main__section3--imagenRedonda3 {
    background-image: url("../img/alianzas.jpg");
    background-color: #204c70;
    height: 15rem;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .main__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__form legend {
    color: darkred;
    font-weight: 700;
    text-align: center;
    padding: 1rem;
  }
  .main__form form {
    text-align: left;
  }
  .main__form label {
    font-size: 1.2rem;
    color: darkgreen;
  }
  .main__form--flexBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1.3rem;
  }
  .main__form--label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 1.2rem;
  }
  .main__form--labelColumn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 1rem;
  }
  .main__form--tipoTorneo {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
    color: #8f0a0a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .main__form--tipoTorneo input {
    padding-bottom: 1rem;
  }
  .main__form--textArea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 1rem;
  }
  .main__form--labelEspecial {
    text-align: center;
    padding: 1rem;
  }
  .main__form--BasesYCondiciones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    font-size: 1.1rem;
  }
  .main__formbuttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 1rem;
  }
}

/* -/- FOOTER -/- */
.footer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #85d485;
  color: #0e5f23;
  padding: 1rem;
}

.footer__nav--div {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__nav li {
  list-style: none;
  display: inline-block;
}

.footer__nav a {
  text-decoration: none;
  color: darkgreen;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
}

.footer__menu--div {
  text-align: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.footer__menu--subtitulo {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 400;
  padding-top: 0.5rem;
}

.footer__menu--icon {
  list-style: none;
  display: inline-block;
  padding-top: 0.5rem;
}

.footer__menu--icon li {
  display: inline-block;
}

/* -/- ICON -/- */
.icon {
  text-decoration: none;
  color: darkgreen;
  font-size: 1.3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=estilos.css.map */