@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
}

@media (min-width: 1024px) {
  /* ----- BODY -----*/
  body {
    background-color: #daeedb;
    font-family: "Roboto", sans-serif;
  }

  /* -- TD, TH --*/
  td,
th {
    text-align: center;
    border: 0.1rem solid #054903;
  }

  /* -- FORM --*/
  form {
    background-color: #d5e6d5;
    padding-left: 6rem;
    padding-right: 6rem;
    margin: 1rem;
  }

  /* -/- HEADER -/- */
  /* -- NAV -- */
  .header__nav {
    background-color: #85d485;
    color: #0e5f23;
  }
  .header__nav--banner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
    text-align: center;
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    list-style: none;
  }
  .header__nav--banner li {
    display: inline-block;
    align-items: center;
    text-align: center;
    justify-content: space-between;
  }
  .header__nav--banner a {
    font-weight: 600;
    text-transform: uppercase;
    padding-right: 1.3rem;
  }
  .header__nav--banner label {
    font-weight: 400;
    padding-right: 1.3rem;
  }
  .header__nav--banner input {
    font-weight: 100;
    color: #779073;
    padding-right: 1.3rem;
  }
  .header__nav--banner a:hover {
    background-color: #3a8a3a;
    color: #daeedb;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.6rem;
  }
  .header__nav--banner a,
.header__nav--banner label,
.header__nav--banner input {
    text-decoration: none;
    text-align: center;
    font-size: 1.3rem;
    color: darkgreen;
    font-weight: 600;
  }

  #header__nav--currentMenu {
    background-color: #3a8a3a;
    color: #daeedb;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.6rem;
  }

  /* ----- MAIN ----- */
  .main__section1 {
    display: flex;
    flex-direction: column;
    background-color: #daeedb;
    color: #043f04;
    padding: 1.3rem;
    justify-items: center;
  }
  .main__section1--top {
    padding: 1rem;
  }
  .main__section1--bottom {
    padding: 1rem;
  }
  .main__section1--title {
    font-size: 3rem;
    padding-bottom: 1rem;
    font-weight: 600;
    text-align: center;
  }
  .main__section1--h3 {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
    padding: 1rem;
  }
  .main__section1--text {
    width: auto;
    font-size: 1.4rem;
    padding-bottom: 1rem;
  }
  .main__section1--imagen {
    width: 85%;
    border: 0.3rem solid #054903;
  }
  .main__section1--tableFlex {
    width: 100%;
    height: 50vh;
    border: 0.3rem solid #054903;
    padding: 1.3rem;
  }
  .main__section1--table {
    width: 100%;
    height: 50vh;
    border: 0.3rem solid #054903;
  }
  .main__section1--encabezadoFila {
    background-color: #d5e6d5;
    color: #195d11;
  }
  .main__section1--tipoFila1 {
    background-color: #26ac17;
    color: white;
  }
  .main__section1--tipoFila2 {
    background-color: #2d6409;
    color: white;
  }
  .main__section2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #043f04;
    color: #daeedb;
    padding: 1.3rem;
  }
  .main__section2 div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 1rem;
  }
  .main__section2 iframe {
    padding-top: 1rem;
  }
  .main__section2--h2 {
    font-size: 40px;
    font-weight: 400;
  }
  .main__section3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #daeedb;
    color: #043f04;
    padding: 1.3rem;
  }
  .main__section3--sectionLeft {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 1rem;
    width: 30%;
  }
  .main__section3--imagenRedonda1 {
    background-image: url("../img/organizadores.jpg");
    background-color: #4581b3;
    height: 20rem;
    width: 20rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    background-size: 100% auto;
  }
  .main__section3--h2 {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 10px;
  }
  .main__section3--contenido {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
  }
  .main__section3--sectionCenter {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 30%;
  }
  .main__section3--imagenRedonda2 {
    background-image: url("../img/padel news.jpg");
    background-color: #e7edf1;
    height: 20rem;
    width: 20rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    background-size: 100% auto;
  }
  .main__section3--sectionRight {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 1rem;
    width: 30%;
  }
  .main__section3--imagenRedonda3 {
    background-image: url("../img/alianzas.jpg");
    background-color: #204c70;
    height: 20rem;
    width: 20rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    background-size: 100% auto;
  }
  .main__form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .main__form legend {
    color: darkred;
    font-weight: 700;
    text-align: center;
    padding: 1rem;
  }
  .main__form form {
    text-align: left;
  }
  .main__form label {
    font-size: 1rem;
    color: darkgreen;
  }
  .main__form--flexBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.3rem;
  }
  .main__form--label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
  }
  .main__form--labelColumn {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
  }
  .main__form--tipoTorneo {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
    color: #8f0a0a;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .main__form--tipoTorneo input {
    padding-bottom: 1rem;
  }
  .main__form--textArea {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
  }
  .main__form--labelEspecial {
    text-align: center;
    padding: 1.2rem;
  }
  .main__form--BasesYCondiciones {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1rem;
  }
  .main__form--buttons {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
  }
}
* {
  padding: 0px;
  margin: 0px;
}

@media (max-width: 1024px) {
  /* MOBILE */
  /* ----- BODY -----*/
  body {
    background-color: #daeedb;
    font-family: "Roboto", sans-serif;
  }

  /* ----- td, th -----*/
  td,
th {
    text-align: center;
    border: 0.1rem solid #054903;
  }

  /* ----- FORM -----*/
  form {
    background-color: #d5e6d5;
    padding-left: 3rem;
    padding-right: 3rem;
    margin: 1rem;
  }

  /* -/- HEADER -/- */
  .header__nav {
    background-color: #85d485;
    color: #0e5f23;
  }
  .header__nav--banner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left;
    justify-content: space-around;
    padding: 1rem;
    list-style: none;
  }
  .header__nav--banner li {
    display: inline-block;
  }
  .header__nav--banner a {
    font-weight: 600;
    text-transform: uppercase;
  }
  .header__nav--banner label {
    font-weight: 400;
  }
  .header__nav--banner input {
    font-weight: 100;
    color: #779073;
  }
  .header__nav--banner a,
.header__nav--banner label,
.header__nav--banner input {
    text-decoration: none;
    text-align: center;
    font-size: 0.7rem;
    color: darkgreen;
  }

  /* -/- MAIN -/- */
  .main__section1 {
    display: grid;
    grid-template-areas: "left" "right";
    grid-row-gap: 0.8rem;
    background-color: #daeedb;
    color: #043f04;
    padding: 1rem;
  }
  .main__section1--left {
    grid-area: left;
    text-align: left;
  }
  .main__section1--right {
    grid-area: right;
    text-align: left;
  }
  .main__section1--title {
    text-align: center;
    font-size: 1.8rem;
  }
  .main__section1--h3 {
    text-align: center;
    font-size: 1.5rem;
  }
  .main__section1--text {
    padding-bottom: 0.5rem;
    text-align: justify;
  }
  .main__section1--imagen {
    width: 100%;
    border: 0.2rem solid #054903;
  }
  .main__section1--table {
    width: 100%;
    border: 0.2rem solid #054903;
  }
  .main__section1--tableFlex {
    width: 100%;
    height: 50vh;
    border: 0.2rem solid #054903;
    padding: 0.5rem;
  }
  .main__section1--encabezadoFila {
    background-color: #d5e6d5;
    color: #195d11;
  }
  .main__section1--tipoFila1 {
    background-color: #26ac17;
    color: white;
  }
  .main__section1--tipoFila2 {
    background-color: #2d6409;
    color: white;
  }
  .main__section2 {
    align-items: center;
    background-color: #043f04;
    color: #daeedb;
    padding: 1rem;
  }
  .main__section2 div {
    align-items: center;
    padding-top: 0.5rem;
  }
  .main__section2 iframe {
    padding-top: 0.5rem;
  }
  .main__section2 h2 {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 400;
  }
  .main__section3 {
    display: grid;
    grid-template-areas: "left" "center" "right";
    grid-row-gap: 0.8rem;
    align-items: center;
    justify-content: center;
    background-color: #daeedb;
    color: #043f04;
    padding: 1rem;
  }
  .main__section3--sectionLeft {
    padding-top: 0.5rem;
    grid-area: left;
  }
  .main__section3--imagenRedonda1 {
    background-image: url("../img/organizadores.jpg");
    background-color: #4581b3;
    height: 15rem;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .main__section3--h2 {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 400;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .main__section3--contenido {
    font-size: 1.1rem;
    text-align: justify;
  }
  .main__section3--sectionCenter {
    padding-top: 0.5rem;
    grid-area: center;
  }
  .main__section3--imagenRedonda2 {
    background-image: url("../img/padel news.jpg");
    background-color: #e7edf1;
    height: 15rem;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .main__section3--sectionRight {
    padding-top: 0.5rem;
    grid-area: right;
  }
  .main__section3--imagenRedonda3 {
    background-image: url("../img/alianzas.jpg");
    background-color: #204c70;
    height: 15rem;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .main__form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .main__form legend {
    color: darkred;
    font-weight: 700;
    text-align: center;
    padding: 1rem;
  }
  .main__form form {
    text-align: left;
  }
  .main__form label {
    font-size: 1.2rem;
    color: darkgreen;
  }
  .main__form--flexBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.3rem;
  }
  .main__form--label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1.2rem;
  }
  .main__form--labelColumn {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
  }
  .main__form--tipoTorneo {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
    color: #8f0a0a;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .main__form--tipoTorneo input {
    padding-bottom: 1rem;
  }
  .main__form--textArea {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
  }
  .main__form--labelEspecial {
    text-align: center;
    padding: 1rem;
  }
  .main__form--BasesYCondiciones {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.1rem;
  }
  .main__formbuttons {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
  }
}
/* -/- FOOTER -/- */
.footer {
  justify-content: space-between;
  background-color: #85d485;
  color: #0e5f23;
  padding: 1rem;
}
.footer__nav--div {
  text-align: center;
  align-items: center;
}
.footer__nav li {
  list-style: none;
  display: inline-block;
}
.footer__nav a {
  text-decoration: none;
  color: darkgreen;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
}
.footer__menu--div {
  text-align: center;
  justify-content: right;
}
.footer__menu--subtitulo {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 400;
  padding-top: 0.5rem;
}
.footer__menu--icon {
  list-style: none;
  display: inline-block;
  padding-top: 0.5rem;
}
.footer__menu--icon li {
  display: inline-block;
}

/* -/- ICON -/- */
.icon {
  text-decoration: none;
  color: darkgreen;
  font-size: 1.3rem;
  align-items: center;
}/*# sourceMappingURL=estilos.css.map */